<!DOCTYPE html>

<html>
    <head><title>Static Stream</title>
    <style>
  .center {
  margin: auto;
  width: 60%;
  padding: 10px;
  color: white;
  font-size: 180%;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

    </style>
    </head>
    <body>
        <div class="center">
            <video width="400" height="300" controls>
                <source src="/static/vid.mp4" type="video/mp4"/>
            </video>            
        </div>
        <div class = "center">
            <a href='/menu'>Menu</a>
            <a href='/logout'><br>Logout</a>
        </div>
    </body>
</html>